
:root{
    --picture-size: 150px;
    --text-margin: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main{
    width: calc((50% - 20px));
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 15px 3px #eee;
}

.inner-container {
	margin: 10px ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inner-container .text{
    margin-bottom: 20px;
    text-align: start;
}

.inner-container .customer{
    font-size: 12px;
    text-align: end;
    margin-bottom: 10px;
}
.image{
    height: 100%;
}

img {
	width: 100%;
	object-fit: cover;
	filter: saturate(0.75);
	border-radius: 10px;
}
