
.product-list-tools{
    display: flex;
    width: 100%;
    padding: 0.5em 1.5em;
}

.product-list-tools p{
    color:rgb(0, 128, 100);
}

.product-list-tools select{
    outline: none;
    border: none;
    font-size: 1em;
}

.product-list{
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}
.product-list ul{
    display: grid;
    grid-template-columns: 1fr;

}

.product-list ul li{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-list ul li::before{
    content: "10% off";
    background-color: rgb(236, 26, 26);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
}
.product-list ul li .product-tools{
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(70, 70, 70, 0.288);
    align-items: flex-end;
    justify-content: center;
    padding: 2em;
    gap: 1em;
    display: none;
}
.product-tools button{
    outline: none;
    border: none;
    height: 2.5em;
    font-size: 1em;
}

#add-to-cart{
    width: 8em;
    height: 2.5em;
    font-size: 1em;
    background-color: rgb(0, 128, 100);
    color: white;
    font-weight: 500;
}

#add-to-fav{
    width: 3em;
}

.product-list ul li .product-img-container{
    width: 100%;
    height: 70%;
    padding: 2em;
    background-color: rgb(216, 216, 216);
}
.product-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate p{
    font-size: 1.2em;
    color: rgb(0, 128, 100);
    font-weight: bold;
}

.rate .rate-stars i{
    color: rgb(255, 220, 21);
}

.product-description{
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.product-description h2{
    font-size: 1.2em;
    color: rgb(43,43,43);
}

.price{
    display: flex;
    gap: 0.2em;
}
.price span{
    color: red;
    position: relative;
}
.price span::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateZ(12deg);
}

.next-previous{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.next-previous div{
    display: flex;
    gap: 3em;
}

.next-previous button{
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(0, 128, 100);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
}

.next-previous span{
    font-weight: bold;
}

@media (min-width: 515px){
    .product-list ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }



    .product-list ul li:hover .product-tools{
        display: flex;
        transition: 0.5s;
    }

}

@media (min-width: 1050px){
    .product-list ul{
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}