

header{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1.5em 0;
}

header a{
    text-decoration: none;
}

.social{
    display: flex;
    gap: 1em;
}
.social a{
    color: rgb(75, 75, 75);
}

.call-us a{
    color: rgb(126, 126, 126);
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;

}
button{
    cursor: pointer;
}
.navigation-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(75, 75, 75);
}

.navigation-bar h1{
    font-size: 2.5em;
    color: rgb(24, 24, 24);
}

.navigation-bar h1::first-letter{
    color: rgb(0, 128, 100);
}
.navigation-bar i{
    font-size: 1.5em;
}
.menu{
    display: none;
    gap: 1.5em;

}
.menu a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 1.2em;
}
.tools{
    display: flex;
    gap: 1em;
}

#cart{
    position: relative;
}

#cart::after{
    content: "0";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 128, 100);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    top:-10px;
    right: -10px;
}

.drop-down-menu{
    display: none;
    flex-wrap: wrap;
    z-index: 99;
    width: 100%;
    background-color: white;
    position: fixed;
}

.drop-down-menu a{
    width: 100%;
    padding: 1em 1em;
    text-decoration: none;
    color: rgb(75, 75, 75);
    border-bottom: 1px solid black;
}

.search{
    display: none;
    gap:0.5em;
    padding: 1.5em 0.5em;
    z-index: 99;
    background-color: white;
    position: fixed;
    width: 100%;
}

#search-value{
    width: 85%;
    height: 1.5em;
    border: none;
    outline: none;
    padding: 1.5em 1em;
    border-bottom: 1px solid  rgb(0, 128, 100);
    color: rgb(32, 32, 32);
    font-size: 1em;
    font-weight: 700;

}

#search-for{
    color: rgb(75, 75, 75);
    font-size: 1.2em;
    background: transparent;
    outline: none;
    border: none;
}

.user-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.514);
    display: none;
    align-items: center;
    justify-content: center;
}

.login, .signup{
    width: 90%;
    max-width: 25em;
    height: 22em;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: block;
    
}

.signup{
    display: none;
    height: 25em;
}

#close-login, #close-signup{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    color: rgb(75, 75, 75);
    border: none;
    outline: none;
}

#close-login i, #close-signup i{
    font-size: 1.2em;
    font-weight: bold;
}

.login form, .signup form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:4em;
    gap: 0.5em;
}

.login form label, .signup form label{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:rgb(75, 75, 75);
}

.login form input, .signup form input{
    width: 90%;
    height: 3em;
    padding: 0.2em;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 128, 100);
    font-size: 1em;
}

.login form input[type = "submit"],
.signup form input[type = "submit"]{
    background-color: rgb(0, 128, 100);
    color: white;
    border: none;
    transition: 0.5s;
}

.login form input[type = "submit"]:hover,
.login form input[type = "submit"]:hover{
    background-color: rgb(5, 110, 87);
    transition: 0.5s;
}

.other-login-actions,
.other-signup-actions{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 0.5em;
    position: absolute;
    bottom: 2.5em;
    left: 1.2em;

}

.other-login-actions a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}

.other-login-actions button,
.other-signup-actions button{
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: rgb(75, 75, 75);
    font-size: 1em;
}


.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 128, 100);
    color: white;
    padding: 2em 0;
    gap: 1em;
}
.about-us p{
    text-align: center;
    width: 80%;
    max-width: 25em;
}

.about-us div{
    width: 30%;
    max-width: 12em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us div a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(3, 92, 73);
    color: white;
    font-size: 1em;
    padding: 1em 2.5em;
}
footer span{
    font-weight: bold;
}


@media screen and (min-width: 650px) {

  #menu {
		display: none;
	}
	.menu {
		display: flex;
	}
}